
<mat-grid-list cols="2" rowHeight="80px">
    <mat-grid-tile 
        [colspan]="2" 
        [rowspan]="1"
    >
        <h1>
            {{ getProperty ( 'name' ) }}
        </h1>
    </mat-grid-tile>
    <mat-grid-tile 
        [colspan]="1" 
        [rowspan]="3"
    >
        <table>
            <tr *ngFor="let property of getPropertiesTable()">
                <td class='label-cell'>
                    {{ property | labelizer }}
                </td>
                <td class='content-cell'>
                    {{ getProperty ( property ) }}
                </td>
            </tr>
        </table>
    </mat-grid-tile>

    <mat-grid-tile 
        [colspan]="1" 
        [rowspan]="5"
    >
        <orbit [element]="element"></orbit>
    </mat-grid-tile>

</mat-grid-list>
