<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div *ngFor="let itemRow of [].constructor(rows); let i = index">
    <div [class]="getClassesByIndexes( i, j )" *ngFor="let itemCol of [].constructor(cols); let j = index">
      <ng-container *ngIf="getElementByIndexes ( i, j)">
        {{ getElementByIndexes ( i, j)?.symbol }}
      </ng-container>
      <ng-container *ngIf="!getElementByIndexes ( i, j)">
        &nbsp;
      </ng-container>
    </div>  
  </div>
</body>
</html>