@import '../styles/variables.scss';


body {
    background-color: $background;
}

.wrapper {
    text-align: center;
    color: $font-color;
    display: table;
    margin: 0 auto;

    h1 {
        margin: 0 px 0px 20px 0px;
    }

    img {
        display: inline-block;
        width: 2 * $base-size;
    }
}

button {
    position: fixed;
    font-weight: 600;
    cursor: pointer;
    color: $font-color;
    padding: 4px 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 3px;
    top: 10px;
}

.info {
    background-color: $blue;
    right: 10px;
}

.list {
    background-color: $green;
    right: 80px;
}

.elementTable {
    width: 100%;
    text-align: center;
    .atomicNumber {
        font-size: 1.1vh;
    }
    .symbol {
        font-size: 2.5vh;
    }
    .name {
        font-size: 1vh;
    }
}

.blank-element {
    display: inline-block;
    vertical-align: top;
    width: $base-size;
    height: $base-size;
    padding: 5px;
    margin: 1px;
    mix-blend-mode: difference;
    font-weight: 600;
    cursor: pointer;
    transition: filter 0.1s ease-in-out;
    border-radius: 4px;
}

.border-element {
    border: none;
}

.transparent-border-element {
    border: none;
}

.blank-element:hover {
    filter: opacity(0.7);
}

.lant-act-element {
    margin-top: 10px;
}