<div class="wrapper">
    <h1>
        Usage
    </h1>

    <div>
        <ul>
            <li>
                 You can click in the element to see more information about it. <br><br>
                 <img src="assets/fig1.png">
            </li>
            <li>
                You can also navigate straight to a specific element by typing its symbol or name in the address bar like this: <br><br>
                <input [disabled]="true" value="https://leonamtv.github.io/periodic-table/#/sm"> &nbsp; or <br><br>
                <input [disabled]="true" value="https://leonamtv.github.io/periodic-table/#/samarium"> <br><br>
                <img src="assets/fig2.png"><br><br>
                Make sure to type <b>/#/</b> before the name or symbol.
            </li>
            <li>
                If you click in the <b>List of elements</b> you can have the elements in the form of a table. <br><br>
                <img src="assets/fig3.png"><br><br>
                You can sort any of the columns and export to <b>.csv</b><br><br>
                <img src="assets/fig4.png">
            </li>
        </ul>
    </div>


    <h1>
        Information about the content
    </h1>
    
    <div>
        <ul>
            <li>
                The colors used in the periodic table are the <b>CPK-colors</b>. <a target=”_blank” href="https://en.wikipedia.org/wiki/CPK_coloring">[Reference]</a>
            </li>
            <li>
                The colors used in the Atomic <i>Number</i>, <i>Symbol</i> and <i>Name</i> (black or white) don't follow any standard. They are calculated so they contrast with the background.
            </li>
            <li>
                All the info about the Chemical Elements is from <a target=”_blank” href="https://github.com/Bowserinator/Periodic-Table-JSON">Bowserinator's github repository</a> forked to my <a target=”_blank” href="https://github.com/leonamtv/Periodic-Table-JSON">github account</a>.
            </li>
        </ul>
    </div>
    
</div>