<div class="wrapper">
    <h1>
        Information about the content
    </h1>
    
    <div>
        <ul>
            <li>
                The colors used in the periodic table are the <b>CPK-colors</b>. <a target=”_blank” href="https://en.wikipedia.org/wiki/CPK_coloring">[Reference]</a>
            </li>
            <li>
                The colors used in the Atomic <i>Number</i>, <i>Symbol</i> and <i>Name</i> (black or white) don't follow any standard. They are calculated so they contrast with the background.
            </li>
            <li>
                All the info about the Chemical Elements is from <a target=”_blank” href="https://github.com/Bowserinator/Periodic-Table-JSON">Bowserinator's github repository</a> forked to my <a target=”_blank” href="https://github.com/leonamtv/Periodic-Table-JSON">github account</a>.
            </li>
        </ul>
    </div>
    
</div>