$base-size: 8vh;
$font-color: rgb(247, 245, 245);
$green: rgb(24, 157, 24);
$red: rgb(194, 3, 3);
$blue: rgb(48, 81, 248);
$background: rgb(14, 22, 32);
$background-shadow: rgba(255, 255, 255, 0.1);
$background-shadow-light: rgba(255, 255, 255, 0.01);
$background-shadow-dark: rgba(0, 0, 0, 0.1);
$red-opaque: rgba(194, 3, 3, 0.15);