.wrapper {
    padding: 40px 50px;
    h1 {
        margin-bottom: 20px;
    }
    ul li {
        font-size: 2vh;
        margin-bottom: 1vh;
        a {
            color: rgb(55, 220, 55);
        }
    }
}